@use '../abstracts/_variables.scss' as var;
@use '../abstracts/_mixins.scss' as mixins;
@use '../base/_typography';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.6s, filter 0.6s ease-in-out;
}

.btn-s {
    max-width: 120px;
    width: 100%;
    min-width: 80px;
    height: 45px;
}

.btn-m {
    max-width: 160px;
    width: 100%;
    flex-shrink: 0;
    height: 60px;
}

.btn-l {
    max-width: 193px;
    width: 100%;
    flex-shrink: 0;
    height: 60px;
}

.btn-white {
    background-color: var.$color_0;
    color: var.$color_1;

    &:hover {
        border: solid 1px var.$color_10;
        background-color: var.$color_1;
        color: var.$color_0;
    }
}

.btn-outline-success,
.btn-outline-secondary {
    border: solid 1px var.$color_10;
    color: var.$color_0;

    &:hover {
        border: solid 1px var.$color_5;
        background-color: var.$color_5;
        color: var.$color_1;
    }
}

.btn-orange-secondary {
    border: solid 1px var.$color_5;
    background-color: var.$color_5;
    color: var.$color_1;

    &:hover {
        border: solid 1px var.$color_10;
        color: var.$color_0;
        background-color: var.$color_1;
    }
}

.btn-black-secondary {
    background-color: var.$color_0;
    color: var.$color_1;

    &:hover {
        border: solid 1px var.$color_10;
        background-color: var.$color_1;
        color: var.$color_0;
    }
}
@include mixins.tablet {
    .btn-s {
        max-width: 100px;
    }

    .btn-m {
        max-width: 140px;
    }

    .btn-l {
        max-width: 173px;
    }
}
