@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';

.clients__link {
    text-decoration: none;

    & img {
        transform-origin: center;
        transition: transform 0.6s, filter 0.6s ease-in-out;
    }

    &:hover img {
        transform: scale(1.2);
    }
}

.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    max-width: 126px;
    width: 100%;
    padding: 15px 0;
    background-color: var.$color_1;
    transition: 0.6s, filter 0.6s ease-in-out;

    &:hover {
        background-color: var.$color_5;
        color: var.$color_1;
    }
}

.link-info-underline {
    color: var.$color_0;
    transition: 0.6s;

    &:hover {
        color: var.$color_10;
    }
}

.link-info,
.footer-nav__link,
.link-7 {
    text-decoration: none;
    color: var.$color_0;

    &:hover {
        color: var.$color_10;
    }
}

.nav__link {
    display: flex;
    flex-shrink: 0;
    padding: 5px 10px;
    text-decoration: none;
    color: var.$color_0;
    transition: 0.6s, filter 0.6s ease-in-out;

    &:hover {
        padding: 5px 10px;
        background-color: var.$color_5;
        color: var.$color_1;
    }
}
