// Colors
$color_0: #000;
$color_1: #fff;
$color_2: #fff;
$color_3: #e5e5e5;
$color_4: #eee;
$color_5: #ff6336;
$color_6: #ff9c7d;
$color_7: #fff8e4;
$color_8: #c9e8f2;
$color_9: #dabc98;
$color_10: rgb(0 0 0 / 50%);
$color_11: #ccc;

// Breakpoints
$mobile: 375px;
$tablet-sd: 768px;
$tablet-hd: 1024px;
$desktop-sd: 1440px;
