@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';
@use '../base/containers';

.capabilities {
    display: flex;
    width: 100%;
    padding: 0 75px;
    justify-content: center;
    background-color: var.$color_7;

    &__container {
        flex-direction: column;
    }

    &__container:last-child {
        margin: 0 0 147px;
    }

    &__heading {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 120px 0 4px;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__cell {
        display: flex;
        width: 27%;
        flex-direction: column;
        align-items: center;
        margin: 75px 0 0;
    }

    &__title {
        margin: 23px 0;
    }

    &__body {
        text-align: center;
    }
}
