@use '../abstracts/_variables.scss' as var;
@use '../abstracts/_mixins.scss' as mixins;
@use '../base/_typography';
@use '../base/containers';

.header-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    padding: 10px 51px;
}

.header-main {
    display: flex;
    width: 100%;
    margin: 34px 0;
}

.menu {
    display: flex;
    width: 100%;
}

.menu__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 41px 0 0;

    &__link {
        max-width: 130px;
        width: 100%;
        height: 28px;
        line-height: 28px;
        text-decoration: none;
    }

    &__img {
        max-width: 130px;
        width: 100%;
    }
}

.nav {
    display: flex;
    max-width: 592px;
    width: 100%;
    align-items: center;

    &__list {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        list-style: none;
        gap: 0 23px;
    }
}

.header-btns {
    display: flex;
    max-width: 250px;
    width: 100%;
    margin: 25px 0;
    gap: 10px;
}

.mobile-menu {
    display: none;
}

.close {
    display: none;
}

@include mixins.tablet {
    .header-body {
        height: 70px;
        padding: 10px 50px;
    }

    .header-main {
        margin: 9px 0;
    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu__btn {
        background-color: var.$color_1;
    }

    .menu {
        display: none;
        position: absolute;
        right: 20px;
        top: 70px;
        z-index: 1;
        max-width: 250px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .menu__content {
        display: flex;
        flex-flow: column-reverse;
        position: relative;
        width: 100%;
        border: 1px solid var.$color_11;
        background-color: var.$color_1;
        padding: 20px;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    .nav {
        display: flex;
        width: 100%;

        &__list {
            display: flex;
            flex-flow: column;
            width: 100%;
            list-style: none;
            gap: 0 23px;
        }
    }

    .header-btns {
        display: flex;
        flex-flow: column;
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }

    .close {
        display: flex;
        background-color: var.$color_11;
        margin: 20px 0 0;
        align-self: center;
    }

    .close:hover,
    .close:focus {
        cursor: pointer;
    }
}

@include mixins.mobile {
    .header-body {
        padding: 10px 30px;
    }
}
