@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';
@use '../base/containers';

.header-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    padding: 10px 51px;
}

.header-main {
    display: flex;
    width: 100%;
    margin: 34px 0;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 41px 0 0;

    &__link {
        max-width: 130px;
        width: 100%;
        height: 28px;
        line-height: 28px;
        text-decoration: none;
    }

    &__img {
        max-width: 130px;
        width: 100%;
    }
}

.nav {
    display: flex;
    max-width: 592px;
    width: 100%;
    align-items: center;

    &__list {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        list-style: none;
        gap: 0 23px;
    }
}

.header-right {
    display: flex;
    max-width: 250px;
    max-height: 45px;
    width: 100%;
    margin: 25px 0;
    gap: 10px;
}
