@use '../abstracts/_variables.scss' as var;
@use '../abstracts/_mixins.scss' as mixins;
@use '../base/_typography';
@use '../base/containers';

.no-wait {
    display: flex;
    width: 100%;
    padding: 0 75px;
    justify-content: center;
    background-color: var.$color_6;

    &__container {
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        max-width: 784px;
        margin: 119px 0 29px;
        text-align: center;
    }

    &__body {
        max-width: 438px;
        text-align: center;
        margin: 0 0 54px;
    }

    &__btn {
        margin: 0 0 161px;
    }
}

@include mixins.tablet {
    .no-wait {
        &__heading {
            max-width: 400px;
            margin: 90px 0 15px;
        }

        &__body {
            max-width: 350px;
            margin: 0 0 34px;
        }

        &__btn {
            margin: 0 0 90px;
        }
    }
}
