@use '../abstracts/_variables.scss' as var;
@use '../abstracts/_mixins.scss' as mixins;
@use '../base/_typography';
@use '../base/containers';

.productivity {
    display: flex;
    width: 100%;
    padding: 0 75px;
    justify-content: center;

    &__container {
        flex-direction: column;
    }

    &__heading {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 154px 0 0;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 0 0 187px;
    }

    &__cell {
        display: flex;
        width: 27%;
        flex-direction: column;
        margin: 75px 0 0;
        align-items: flex-start;
    }

    &__title {
        margin: 49px 0 34px;
    }

    &__img-box {
        height: 201px;
        justify-content: center;
    }

    &__body {
        margin: 0 0 25px;
    }
}

@include mixins.tablet {
    .productivity {
        padding: 0 50px;

        &__heading {
            margin: 90px 0 0;
        }

        &__row {
            margin: 0 0 100px;
        }

        &__cell {
            margin: 45px 0 0;
        }

        &__title {
            margin: 30px 0 20px;
        }

        &__img-box {
            height: 140px;
        }

        &__img {
            max-width: 100px;
            height: 140px;
        }
    }
}
@include mixins.mobile {
    .productivity {
        padding: 0 30px;

        &__heading {
            margin: 54px 0 0;
        }

        &__row {
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 0 0 60px;
        }

        &__cell {
            display: flex;
            width: 100%;
            flex-flow: row wrap;
            margin: 50px 0 0;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        &__title {
            margin: 0 0 10px;
        }

        &__img-box {
            max-height: 201px;
            justify-content: center;
        }

        &__body {
            margin: 0 0 15px;
            max-width: 400px;
            width: 100%;
        }
    }
}
