@use '../abstracts/_variables.scss' as var;
@use '../base/_typography';
@use '../base/containers';

.productivity {
    display: flex;
    width: 100%;
    padding: 0 75px;
    justify-content: center;

    &__container {
        flex-direction: column;
    }

    &__heading {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 154px 0 0;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 187px;
    }

    &__cell {
        display: flex;
        width: 27%;
        flex-direction: column;
        margin: 75px 0 0;
        align-items: flex-start;
    }

    &__title {
        margin: 49px 0 34px;
    }

    &__img-box {
        height: 201px;
        justify-content: center;
    }

    &__body {
        margin: 0 0 25px;
    }
}
