@use '../abstracts/_variables.scss' as var;
@use '../abstracts/_mixins.scss' as mixins;
@use '../base/_typography';
@use '../base/containers';

.reviews {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    &__upper {
        display: flex;
        background-color: var.$color_8;
        width: 100%;
        justify-content: center;
        padding: 0 75px;
    }

    &__lower {
        display: flex;
        background-color: var.$color_9;
        width: 100%;
        justify-content: center;
        padding: 0 54px;
    }

    &__upper-container {
        display: flex;
        margin: 53px 0 105px;
        justify-content: space-between;
        flex-direction: row;
        gap: 30px;
    }

    &__upper-content {
        max-width: 920px;
    }

    &__upper-body {
        margin: 10px 0 23px;
    }

    &__upper-name {
        margin: 0 0 7px;
    }

    &__upper-img {
        max-width: 310px;
        max-height: 310px;
    }

    &__lower-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 80px 0 84px;
    }

    &__lower-content {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 67px;
        margin: 10px 0 4px;
        max-width: 704px;
        width: 100%;
    }

    &__lower-rating {
        display: flex;
        flex-direction: row;
        max-width: 503px;
        width: 100%;
        justify-content: space-between;
        gap: 30px;
        padding: 0 106px 0 71px;
        border-left: 1px solid var.$color_0;
    }

    &__lower-img {
        width: 100%;
        max-width: 176px;
        min-width: 100px;
    }
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 150px;
    min-width: 0;

    &__logo {
        max-width: 150px;
        min-width: 0;
        margin: 30px 0 20px;
    }
}

@include mixins.tablet {
    .reviews {
        &__upper {
            padding: 0 50px;
        }

        &__lower {
            padding: 0 54px;
        }

        &__upper-container {
            margin: 53px 0 70px;
            gap: 30px;
        }

        &__upper-content {
            max-width: 920px;
        }

        &__upper-body {
            margin: 10px 0 23px;
        }

        &__upper-name {
            margin: 0 0 7px;
        }

        &__upper-logo {
            max-width: 90px;
        }

        &__upper-img {
            max-width: 250px;
            max-height: 250px;
        }

        &__lower-container {
            margin: 60px 0 64px;
        }

        &__lower-content {
            gap: 30px;
        }

        &__lower-rating {
            max-width: 50%;
            width: 100%;
            gap: 20px;
        }

        &__lower-img {
            max-width: 100px;
            min-width: 50px;
        }
    }

    .rating {
        &__logo {
            max-height: 25px;
            margin: 30px 0 20px;
        }

        &__stars {
            max-width: 100px;
            margin: 0 0 5px;
        }
    }
}

@include mixins.mobile {
    .reviews {
        &__upper {
            padding: 0 20px;
        }

        &__lower {
            padding: 0 30px;
        }

        &__upper-container {
            display: flex;
            margin: 50px 0;
            align-items: center;
            flex-flow: column-reverse;
        }

        &__upper-content {
            max-width: 768px;
        }

        &__upper-body {
            margin: 10px 0 23px;
        }

        &__upper-name {
            margin: 0 0 7px;
        }

        &__upper-img {
            max-width: 310px;
            min-width: 0;
        }

        &__lower-container {
            flex-flow: row wrap;
            margin: 50px 0 54px;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        &__lower-content {
            display: flex;
            width: 45%;
            align-items: center;
            flex-flow: row wrap;
            justify-content: center;
            padding: 0;
            gap: 20px;
        }

        &__lower-rating {
            display: flex;
            flex-flow: row wrap;
            width: 45%;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding: 0;
            border-left: 0;
        }

        &__lower-heading {
            text-align: center;
        }

        &__lower-img {
            max-width: 176px;
            min-width: 100px;
        }
    }
}
