@font-face {
    font-family: 'Graphik LC TT';
    src: url('../font/GraphikLCG-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LC TT';
    src: url('../font/GraphikLCG-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.heading-1 {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
}

.heading-2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.heading-3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.heading-4 {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.title-1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.title-2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
}

.title-3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.body-1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.body-2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.body-3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.body-4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.body-5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.body-6 {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.nav__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.link-2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.btn-1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
}

.btn-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
}

.underline {
    text-decoration: underline;
}
