<section class="advantages">
    <div class="container_1 advantages__container">
        <div class="advantages__row">
            <div class="advantages__content">
                <h3 class="heading-2 advantages__heading">
                    Control the localization process
                </h3>
                <p class="body-4 advantages__body">
                    Collaborate with your team in a single workspace. Add and
                    assign
                    <a class="link-info-underline" href="">tasks</a>, track
                    progress, and enjoy a seamless localization workflow where
                    you know who is doing what and when.
                </p>
                <a class="link-btn advantages__link" href="">Start now</a>
            </div>
            <img
                class="advantages__img"
                src="img/Project_App.png"
                alt="Project_App"
            />
        </div>
        <div class="advantages__row">
            <div class="advantages__content">
                <h3 class="heading-2 advantages__heading">
                    Shorten time to market
                </h3>
                <p class="body-4 advantages__body">
                    Localize your product in parallel with the development
                    cycle. Use the
                    <a class="link-info-underline" href="">Adobe XD</a>,
                    <a class="link-info-underline" href="">Figma</a>, and
                    <a class="link-info-underline" href="">Sketch</a> plugins to
                    start working on translations as soon as the product design
                    is ready. No more idle waiting.
                </p>
                <a class="link-btn advantages__link" href="">Start now</a>
            </div>
            <img class="advantages__img" src="img/market.png" alt="market" />
        </div>
        <div class="advantages__row">
            <div class="advantages__content">
                <h3 class="heading-2 advantages__heading">Ensure quality</h3>
                <p class="body-4 advantages__body">
                    Use built-in tools — e.g.
                    <a class="link-info-underline" href="">translation memory</a
                    >, machine translation, and
                    <a class="link-info-underline" href="">QA checks</a> — to
                    enhance the quality and cohesion of translations. Add
                    product
                    <a class="link-info-underline" href="">screenshots</a> for
                    context and use the
                    <a class="link-info-underline" href=""
                        >in-context editors</a
                    >
                    for instant previews.
                </p>
                <a class="link-btn advantages__link" href="">Start now</a>
            </div>
            <img
                class="advantages__img"
                src="img/Ensure_quality.png"
                alt="Ensure_quality"
            />
        </div>
        <div class="advantages__row">
            <div class="advantages__content">
                <h3 class="heading-2 advantages__heading">
                    Less work for developers
                </h3>
                <p class="body-4 advantages__body">
                    Eliminate the hassle of localization and let developers get
                    back to their main tasks. Save hours with the powerful
                    <a class="link-info-underline" href="">API</a>,
                    <a class="link-info-underline" href="">CLI</a>,
                    <a class="link-info-underline" href="">mobile SDKs</a>, and
                    integrations with
                    <a class="link-info-underline" href="">GitHub</a>,
                    <a class="link-info-underline" href="">Bitbucket</a>,
                    <a class="link-info-underline" href="">JIRA</a>, and more.
                </p>
                <a class="link-btn advantages__link" href="">Start now</a>
            </div>
            <img
                class="advantages__img"
                src="img/Less_work.png"
                alt="Less_work"
            />
        </div>
    </div>
</section>
