<section class="banner">
    <div class="container_1 banner__container">
        <div class="banner__content">
            <h2 class="heading-1 banner__heading">
                Accelerate localization from code to delivery
            </h2>
            <p class="body-2 banner__body">
                A localization and translation management platform for agile
                teams. Embrace automation, workflow transparency, and fast
                project delivery.
            </p>
            <div class="banner__btns">
                <a href="" class="btn-2 banner-free-btn">Try it free</a>
                <a href="" class="btn-2 banner-demo-btn">Book a demo</a>
            </div>
            <p class="body-6 free-body">
                Try all features for 14 days · No credit card required
            </p>
        </div>
        <div class="banner__img">
            <img src="img/image_1.svg" alt="image_1" />
        </div>
    </div>
</section>
