<section class="capabilities">
    <div class="container_1 capabilities__container">
        <h3 class="heading-2 capabilities__heading">
            What can you localize with Lokalise?
        </h3>
        <div class="capabilities__row">
            <div class="capabilities__cell">
                <img
                    class="capabilities__img"
                    src="img/Web_App.svg"
                    alt="Web_App"
                />
                <h6 class="title-2 capabilities__title">Web apps</h6>
                <p class="body-5 capabilities__body">
                    Any kind of web apps — backend, frontend, single page, blogs
                    — you name it.
                </p>
            </div>
            <div class="capabilities__cell">
                <img
                    class="capabilities__img"
                    src="img/Mobile_App.svg"
                    alt="Mobile_App"
                />
                <h6 class="title-2 capabilities__title">Mobile apps</h6>
                <p class="body-5 capabilities__body">
                    Upload any mobile platform language files. Embed
                    <a class="link-info-underline" href="">Lokalise iOS SDK</a>
                    or
                    <a class="link-info-underline" href=""
                        >Lokalise Android SDK</a
                    >
                    if you prefer.
                </p>
            </div>
            <div class="capabilities__cell">
                <img class="capabilities__img" src="img/Game.svg" alt="Game" />
                <h6 class="title-2 capabilities__title">Games</h6>
                <p class="body-5 capabilities__body">
                    Our cloud software is trusted by many leading game
                    developers around the world.
                </p>
            </div>
            <div class="capabilities__cell">
                <img
                    class="capabilities__img"
                    src="img/Document.svg"
                    alt="Document"
                />
                <h6 class="title-2 capabilities__title">Documents</h6>
                <p class="body-5 capabilities__body">
                    Upload your DOCX and static HTML files.
                </p>
            </div>
            <div class="capabilities__cell">
                <img
                    class="capabilities__img"
                    src="img/Marketing_e-mails.svg"
                    alt="Marketing_e-mails"
                />
                <h6 class="title-2 capabilities__title">Marketing e-mails</h6>
                <p class="body-5 capabilities__body">
                    Integrate with Salesforce Marketing Cloud (coming soon) or
                    translate static e-mails.
                </p>
            </div>
            <div class="capabilities__cell">
                <img class="capabilities__img" src="img/IoT.svg" alt="IoT" />
                <h6 class="title-2 capabilities__title">IoT</h6>
                <p class="body-5 capabilities__body">
                    We support most popular localization file formats.
                </p>
            </div>
        </div>
    </div>
</section>
