<section class="clients-bar">
    <div class="container_1 clients-bar__container">
        <div class="clients">
            <h3 class="heading-2 clients__heading">
                The preferred localization tool of 1500+ companies
            </h3>
            <ul class="clients__catalog">
                <li class="clients__item">
                    <a class="clients__link" href="">
                        <img
                            src="img/clients_1.svg"
                            alt=""
                            class="clients__img"
                        />
                    </a>
                </li>
                <li class="clients__item">
                    <a class="clients__link" href="">
                        <img
                            src="img/clients_2.svg"
                            alt=""
                            class="clients__img"
                        />
                    </a>
                </li>
                <li class="clients__item">
                    <a class="clients__link" href="">
                        <img
                            src="img/clients_3.svg"
                            alt=""
                            class="clients__img"
                        />
                    </a>
                </li>
                <li class="clients__item">
                    <a class="clients__link" href="">
                        <img
                            src="img/clients_4.svg"
                            alt=""
                            class="clients__img"
                        />
                    </a>
                </li>
                <li class="clients__item">
                    <a class="clients__link" href="">
                        <img
                            src="img/clients_5.svg"
                            alt=""
                            class="clients__img"
                        />
                    </a>
                </li>
                <li class="clients__item">
                    <a class="clients__link" href="">
                        <img
                            src="img/clients_6.svg"
                            alt=""
                            class="clients__img"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
