<footer class="footer">
    <div class="container_1 footer__container">
        <div class="footer__upper">
            <div class="footer__studies">
                <div class="footer__studies-up">
                    <h4 class="heading-3 footer__studies-heading">
                        Case Studies
                    </h4>
                    <img
                        class="footer__studies-img"
                        src="img/Case Studies.png"
                        alt="Case Studies"
                    />
                </div>
                <div class="footer__studies-down">
                    <img
                        class="footer__studies-logo"
                        src="img/specialized.svg"
                        alt="specialized"
                    />
                    <p class="body-4 footer__studies-body">
                        Riding towards global success with a 100% teammate
                        enthusiasm
                    </p>
                    <a class="link-info footer__studies-link" href=""
                        >Read more</a
                    >
                </div>
            </div>
            <div class="footer__nav-bar">
                <div class="footer-nav">
                    <h6 class="title-3 footer-nav__title">Product</h6>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >For developers</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">For managers</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >For translators</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >For designers</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Integrations</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Security</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Pricing</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Automations</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav">
                    <h6 class="title-3 footer-nav__title">Support</h6>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Contact</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Documentation</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Status</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Product Updates</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">CLI Tool</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >API Reference</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >iOS and Android SDK</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Supported File Formats</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="footer-nav">
                    <h6 class="title-3 footer-nav__title">Company</h6>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">About</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Blog</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Careers | We`re Hiring</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Case Studies</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">Media Kit</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav">
                    <h6 class="title-3 footer-nav__title">Legal</h6>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Terms of Service</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Privacy Policy</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Cookie Policy</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Privacy Shield</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href="">DPA</a>
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >List of Sub-processors</a
                            >
                        </li>
                        <li class="footer-nav__item">
                            <a class="footer-nav__link" href=""
                                >Candidates Privacy Notice</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__lower">
            <div class="footer__lower-left">
                <img
                    class="footer__logo"
                    src="img/footer_logo.svg"
                    alt="footer_logo"
                />
                <p class="body-7 footer__lower-body">
                    Localization workflow for your web and mobile apps, games
                    and digital content.
                </p>
            </div>
            <div class="footer__lower-right">
                <p class="body-7 years">&#xA9;2001-2020</p>
                <a class="link-info rights" href="">All rights reserved.</a>
            </div>
        </div>
    </div>
</footer>
