<header class="header">
    <div class="container header-body">
        <div class="header-main">
            <div class="logo">
                <a class="logo__link" href="">
                    <img src="img/logo.svg" alt="logo" class="logo__img" />
                </a>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="">Product</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Features</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Pricing</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Case studies</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Resources</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-right">
            <a href="" class="btn btn-s btn-outline-success header-login-btn"
                >Log in</a
            >
            <a href="" class="btn btn-s btn-orange-secondary header-free-btn"
                >Try it free</a
            >
        </div>
    </div>
</header>
