<section class="integrate">
    <div class="container_1 integrate__container">
        <h3 class="heading integrate__heading">
            Integrate Lokalise with your work tools
        </h3>
        <p class="body-3 integrate__body">
            Automate processes, eliminate routine tasks, and track progress with
            ease.
        </p>
        <img class="integrate__img" src="img/integrate.png" alt="" />
        <a href="" class="btn btn-3 integrate__btn">See all integrations</a>
    </div>
</section>
