<section class="productivity">
    <div class="container_1 productivity__container">
        <h3 class="heading-2 productivity__heading">
            Boost your localization team’s productivity tenfold
        </h3>
        <div class="productivity__row">
            <div class="productivity__cell">
                <div class="productivity__img-box">
                    <img
                        class="productivity__img"
                        src="img/Managers.svg"
                        alt="Managers"
                    />
                </div>
                <h6 class="title-2 productivity__title">Managers</h6>
                <p class="body-4 productivity__body">
                    Update existing and launch new features and products while
                    simultaneously localizing them in multiple languages.
                    Streamline your team's workflow, maximize productivity, and
                    speed up expansion to other markets.
                </p>
                <a class="link-3 productivity__link" href="">Learn more</a>
            </div>
            <div class="productivity__cell">
                <div class="productivity__img-box">
                    <img
                        class="productivity__img"
                        src="img/Developers.svg"
                        alt="Developers"
                    />
                </div>

                <h6 class="title-2 productivity__title">Developers</h6>
                <p class="body-4 productivity__body">
                    Set up an integration with your code repository or your own
                    custom SDK via Lokalise's
                    <a class="link-3" href=""> powerful API</a>. Do that once,
                    and every time you make changes in the code, they'll be
                    automatically imported to Lokalise for translation.
                </p>
                <a class="link-3 productivity__link" href="">Learn more</a>
            </div>
            <div class="productivity__cell">
                <div class="productivity__img-box">
                    <img
                        class="productivity__img"
                        src="img/Translators.svg"
                        alt="Translators"
                    />
                </div>

                <h6 class="title-2 productivity__title">Translators</h6>
                <p class="body-4 productivity__body">
                    Eliminate double-work and neverending revisions with visual
                    context (screenshots) and live previews. Improve the quality
                    and speed of your translations with built-in CAT tools, like
                    autocomplete, inline machine translation, and translation
                    memory.
                </p>
                <a class="link-3 productivity__link" href="">Learn more</a>
            </div>
        </div>
    </div>
</section>
