<section class="reviews">
    <div class="reviews__upper">
        <div class="container_1 reviews__upper-container">
            <div class="reviews__upper-content">
                <p class="body-1 reviews__upper-body">
                    “Lokalise has turned a task we were dreading into an
                    absolute pleasure. Great platform, intuitive UX, powerful
                    API. The automatic text recognition for screenshots has been
                    a lifesaver, and over-the-air updates are the icing on the
                    cake.”
                </p>
                <p class="body-6 reviews__upper-name">
                    Edward Cooper, Chief Mobile Officer
                </p>
                <img
                    class="reviews__upper-logo"
                    src="img/revolut.svg"
                    alt="revolut"
                />
            </div>
            <img class="reviews__upper-img" src="img/foto.png" alt="" />
        </div>
    </div>
    <div class="reviews__lower">
        <div class="container_1 reviews__lower-container">
            <div class="reviews__lower-content">
                <img class="reviews__lower-img" src="img/cake.svg" alt="" />
                <h4 class="heading-4 reviews__lower-heading">
                    The most-loved translation management software
                </h4>
            </div>

            <div class="reviews__lower-rating">
                <div class="rating">
                    <img class="rating__logo" src="img/logo_1.svg" alt="" />
                    <img class="rating__stars" src="img/stars.svg" alt="" />
                    <p class="body-6 rating__body">USERS LOVE US</p>
                </div>
                <div class="rating">
                    <img class="rating__logo" src="img/logo_2.svg" alt="" />
                    <img class="rating__stars" src="img/stars.svg" alt="" />
                    <p class="body-6 rating__body">HIGHEST RATED</p>
                </div>
            </div>
        </div>
    </div>
</section>
